/* General */

body {
    background-color: F9F9F9;
    font-family: 'Exo', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}

p {
    margin-bottom: 0rem!important;
    font-size: 18px;
}

h1 {
    font-family: Dosis;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #f43131;
    font-size: 70px;
}

h2 {
    font-family: Dosis;
    font-size: 40px;
    padding-bottom: 10px;
}

h3 {
    font-family: Exo;
    font-size: 16px;
}

hr {
    padding-top: 20px;
    padding-bottom: 20px;
}

#small_multiple {
    margin-left: 100px;
    margin-right: 100px;
}

#builder_intro {
    padding-bottom: 50px;
}

#sm_text {
    padding-bottom: 50px;
}

.text-margin {
    margin-left: 100px;
    margin-right: 100px;
}

a {
    color: #353535;
}

.grid{}
.grid-item{}

/* ##################################################################### */
/* Slider */

.legend {
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #353535;
    stroke-opacity: 0.1;
    stroke-width: 10px;
}

.track-inset {
    stroke: #353535;
    stroke-opacity: 0.1;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: pointer;
}

.handle {
    fill: rgba(53, 53, 53, 0.8);
    stroke: #f43131;
    stroke-opacity: 0;
    stroke-width: 2px;
}

.slider_svg {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.slider_title {
    font-size: 14px;
    padding-top: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* ##################################################################### */
/* Third row, results */

#best_match {
    font-size: 20px !important;
    text-align: center;
}

#result {
    font-size: 20px !important;
    text-align: center;
}

#ratio {
    font-size: 20px !important;
    text-align: center;
}

#reaction {
    font-size: 20px;
    text-align: center;
}

.nugget_img {
    width: 200px;
    transition: width 0.5s;
}

.nugget_img:hover {
    width: 300px;
}