body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}

p {
    margin-bottom: 0rem!important;
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #353535;
    stroke-opacity: 0.1;
    stroke-width: 10px;
}

.track-inset {
    stroke: #353535;
    stroke-opacity: 0.1;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: pointer;
}

.handle {
    fill: rgba(53,53,53, 0.8);
    stroke: #f43131;
    stroke-opacity: 0;
    stroke-width: 2px;
}


.slider_svg {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.slider_title{
    padding-top: 20px!important; padding-left: 0px!important; padding-right: 0px!important;
}

#best_match{
    font-size:20px!important;
    text-align: center;
}

#result{
    font-size:20px!important;
    text-align: center;
}

#ratio{
    font-size:20px!important;
    text-align: center;
}

#reaction{
    font-size: 20px;
    text-align: center;
}

.nugget_img{
    width: 200px;
}